<div class="form_stuff">
  <% if flash[:notice] %>
    <div class="alert alert-danger" role="alert">
      <div class="notice">
        <% flash[:notice].each do |error| %>
          <%= error %><br>
        <% end %>
      </div>
    </div>
  <% end %>
<h3 class="title">Login</h3>
<%= form_tag("/sessions") do %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <%= label_tag :username, nil, class: "mdl-textfield__label"%>
  <%= text_field_tag :username, nil, class: "mdl-textfield__input"%>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <%= label_tag :password, nil, class: "mdl-textfield__label"%>
  <%= password_field_tag :password, nil, class: "mdl-textfield__input"%>
  </div><br>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Login
</button>
<% end %>
</div>
