<div class="form_stuff">
<h1><%= @title %></h1>
<%= form_for @card do |f| %>
  <%= f.label "Name"%>
  <%= f.text_field :name %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <%= f.label :mana_cost %>
  <%= f.number_field :mana_cost%><br>

  <%= f.label :theme_set_id, "Theme Set" %>
  <%= f.collection_select(:theme_set_id, ThemeSet.all, :id, :name, include_blank: true) %><br>

  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  <%= @title.upcase %>
</button>
<% end %>
</div>
