<h2>Name: <%= @card.name %></h2>
<h2>Mana Cost: <%= @card.mana_cost %></h2>
<h2>From the <%= @card.theme %> Theme-Set</h2>
<% if @card.deck %> 
  <h2>Part of <%= @card.deck %> Deck</h2>
<% end %>
<h2>Description: </h2><br>
<p><%= @card.description %></p>
<h2>Name: <%= @card. %></h2>