<h1>Deck Info</h1>
<%= @deck.name %>
<br>
<%= link_to 'edit', edit_deck_path%>
<%= button_to 'delete', deck_path, method: :delete %>


<h2>Deck cards:</h2>

<% @deck.cards.each do |card| %>
<ul>
  <% if @deck.card_decks.find_copies(card.id, @deck.id) > 0 %>
    <li> <%= link_to card.name, card %> <%= @deck.card_decks.find_copies(card.id, @deck.id) %> copies</li>
  <% end %>
</ul>
<% end %>
