  <nav class="nav_block">
    <nav class="nav_right">
    <% if logged_in? %>
      <%= link_to 'Logout', logout_path, method: :delete %>     
    <% else %>

      <a class="link_style" href="/login">Login</a>
      <a class="link_style" href="/signup">Sign Up</a>
    <% end %>
    </nav>

    <nav class="nav_left">  
      <%= link_to "User", users_path, class: "" %>
      <%= link_to "Cards", cards_path, class: "" %>
      <%= link_to "Decks", decks_path, class: "" %>
      <%= link_to "Themes", theme_sets_path, class: "" %>
    </nav>
  </nav>