<!DOCTYPE html>
<html>
  <head>
    <title>Tcg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" media="screen" href="/app/assets/stylesheets/application.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <%= yield%>
  </body>
</html>
